@use 'variables';
@use 'globals';
@use 'mixins' as *;

header {
    background-image: url("../../images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        padding: 40px 0 120px;
        
        h1 {
            width: fit-content;
            margin-inline: auto;
            color: white;
            text-align: center;
        }

        form {
            width: fit-content;
            position: relative;
            margin: 30px auto;

            input {
                width: 600px;
                padding: 20px;
                outline: 0;
                border: 1px solid var(--Very-Dark-Gray);
                border-radius: 16px;
                font-size: var(--font-size);

                &::placeholder {
                    color: var(--Dark-Gray);

                    @include extra-small {
                        color: transparent;
                    }
                }

                @include mobile-down {
                    width: 90vw;
                    font-size: 14px;
                }
            }

            button {
                position: absolute;
                translate: -100% 0;
                height: 100%;
                outline: 0;
                border: 1px solid var(--Very-Dark-Gray);
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                cursor: pointer;
                background-color: black;
                @include inline-flex-center;
                padding-inline: 25px;
                transition: 0.3s;

                &:hover {
                    background-color: var(--Very-Dark-Gray);
                }
            }
        }
    }
}